{% extends "base.html" %}
{% block content %}
<h2><i class="fas fa-store"></i> Lojas</h2>
<table class="table table-striped table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Nome Fantasia</th>
            <th>CNPJ</th>
            <th>Cidade</th>
            <th>Contato Comercial</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    {% for loja in lojas %}
        <tr>
            <td>{{ loja.nome_fantasia }}</td>
            <td>{{ loja.cnpj }}</td>
            <td>{{ loja.cidade }}</td>
            <td>{{ loja.contato_comercial }}</td>
            <td>
                <a class="btn btn-sm btn-info text-white" href="{% url 'lojas:detalhe' loja.pk %}"><i class="fas fa-eye"></i></a>
                <a class="btn btn-sm btn-warning" href="{% url 'lojas:editar' loja.pk %}"><i class="fas fa-edit"></i></a>
                <a class="btn btn-sm btn-danger" href="{% url 'lojas:excluir' loja.pk %}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'lojas:criar' %}"><i class="fas fa-plus"></i> Nova Loja</a>
{% endblock %}
